[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-babymonitor
Exec=harbour-babymonitor
Name=BabyMonitor
# translation example:
# your app name in German locale (de)
Name[de]=BabyMonitor

